{{ partial "header.html" . }}

<article class="pure-g">
<section class="content pure-u-2-3">
  {{ with .Params.image }}
    <img src="{{ $.Site.BaseURL }}{{ $.Section }}/{{ . }}" />
  {{ end }}
  {{ with .Params.images }}
    {{ range . }}
      <img src="{{ $.Site.BaseURL }}{{ $.Section }}/{{ . }}" />
    {{ end }}
  {{ end }}
</section>

<section class="notes pure-u-1-3">
  <h4>{{ .Title }}</h4>
  <article>
    {{ .Content }}
  </article>
</section>

<section class="metadata pure-u-1">
  <p>
    <a href="{{ .Permalink }}">&#x221e;</a>
    |
    {{ .Date.Format "Jan 2 2006" }}
    |
    {{ range .Params.tags }}
      <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . | lower }}</a>
    {{ end }}
  </p>
</section>

</article>
