/* ---
  * MASTER.CSS
  * @description Main styling for the Roving Thoughts blog.
  * @author Zach LeBar @zachlebar
  * @site https://rovingthoughts.com

  RED: rgba(227, 77, 79, 1)
  BLUE: rgba(45, 100, 145, 1)
  GREEN: rgba(30, 124, 127, 1)
  YELLOW: rgba(238, 170, 61, 1)

  MODULAR TYPOGRAPHIC SCALE:
  Ratio: 1.2 / Minor Third / 5:6
--- */

/* ---
  LAYOUT
--- */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  padding: 0 1.44em;
  height: 100%;
  width: 200px;
  background: rgba(46, 40, 37, 1);
  color: rgba(200, 194, 181, 1);
  text-align: right;
}

header nav a {
  display: block;
}

header svg {
  position: relative;
  left: 15px;
  margin: 2.98em 0 0 0;
  width: 135%;
}

header h3 {
  margin: -0.33em 0 1.44em 0;
}

main {
  margin: 0 0 0 300px;
  padding: 5.1em 2.48em 2.48em 2.48em;
  overflow: auto;
}

body.home main {
  padding: 2em;
}

section.notes {
  margin: 3.6em 0 0 0;
  padding: 0 2.5%;
  width: 28%;
}

hr {
  border: none;
  border-top: 1px solid #2e2825;
  height: 1px;
  border-bottom: 1px dotted rgba(30, 124, 127, 1);
}


/* ---
  TYPOGRAPHY
--- */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "Alegreya", serif;
}

body {
  font-family: "Alegreya", serif;
  color: #2e2825;
  background: rgba(200, 194, 181, 0.4);
}

h1 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 5em;
  text-transform: lowercase;
  font-style: italic;
  margin: 0 3% 0.25em 0;
  line-height: 0.8em;
}

h2 {
  margin: 0;
  font-weight: 300;
  text-transform: none;
  font-size: 2.48em;
  font-style: italic;
}

h2.link {
  margin: 5em 0 0 0;
}

article h2 {
  color: rgba(30, 124, 127, 1);
}

h3 {
  font-style: italic;
  font-size: 2.07em;
  font-weight: 500;
  margin: 0 0 0.25em 0;
}

h4 {
  font-size: 1.25em;
  margin: 0 0 0.25em 0;
  text-transform: uppercase;
}

h5 {
  color: rgba(123, 117, 109, 1);
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.73em;
  font-style: italic;
  font-weight: 500;
  margin: 0;
}

section.notes h4 {
  font-size: 1.73em;
  margin: 0 0 0.4em 0;
  text-transform: none;
  font-style: italic;
  font-weight: normal;
}

a {
  color: rgba(30, 124, 127, 1);
  text-decoration: none;
  padding: 0 0.15em;
}

a:hover {
  background: rgba(30, 124, 127, 0.6);
  color: #2e2825;
}

section.content a[href^="#fn"] {
  font-family: "Alegreya Sans", sans-serif;
  font-style: italic;
}

p {
  font-size: 1.44em;
  line-height: 1.44em;
  width: 90%;
  margin: 0 0 1.5em 0;
}

header h3 {
  text-transform: none;
  line-height: 1em;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: bold;
}

header a {
  color: rgba(123, 117, 109, 1);
}

header a:hover {
  background: none;
  color: rgba(30, 124, 127, 1);
}

header nav a {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 0.33em 0;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.44em;
  font-style: italic;
}

.caption {
  font-size: 1em;
}

header h2 {
  font-family: "Alegreya Sans", sans-serif;
}

header h2 a {
  color: rgba(200, 194, 181);
}

header .caption {
  font-family: "Alegreya Sans", sans-serif;
  font-style: italic;
  font-weight: 500;
}

main article {
  margin: 2.07em 0 0 0;
}

main article blockquote {
  color: rgba(123, 117, 109, 1);
  font-family: "Alegreya Sans", sans-serif;
  font-style: italic;
  font-size: 1.44em;
  font-weight: 300;
  line-height: 1.44em;
  margin: 0 0 1.5em 0;
  padding: 0 0 0 1.5em;
  width: 97%;
}

main article .metadata {
  text-transform: uppercase;
}

main .content {
  margin: 3.58em 0 0 0;
}

main .link .content {
  margin: 0;
}

main .content img {
  max-width: 100%;
  border: 1px solid #2e2825;
  margin-bottom: 0em;
}

section.notes article {
  border-top: 1px solid #2e2825;
  margin: 0 0 2em 0;
}
section.notes article span {
  color: rgba(30, 124, 127, 1);
  padding: 0 0.1em 0 0;
}

section.notes article p {
  font-size: 1.2em;
  border-top: 1px dotted rgba(30, 124, 127, 1);
  margin: 1px 0 0 0;
  padding-top: 0.57em;
  width: 100%;
  font-family: "Alegreya Sans", sans-serif;
  font-style: italic;
}

body.home article .caption {
  border-bottom: 1px dotted #2e2825;
  font-size: 1.0em;
  margin: 0 0 0.25em 0;
  text-transform: uppercase;
  width: 97%;
}

body.home article .caption span {
  text-transform: lowercase;
  font-family: "Alegreya Sans", sans-serif;
  font-style: italic;
}

section.metadata {
  border-top: 1px dotted #2e2825;
  margin: 0.25em 0 0 0;
  padding: 0.5em 0 0 0;
  width: 97%;
}

section.metadata p {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1em;
  font-style: italic;
}

@media (max-width: 975px) {
  header {
    position: relative;
    width: auto;
    align-items: center;
    margin: 0 0 5em 0;
  }

  header nav a {
    display: inline-block;
    padding: 0 1em;
    margin: 1em 0;
  }

  header svg {
    left: 0;
    margin: 0 0 -85px 0;
    width: 100%;
  }

  header h2 {
    display: none;
  }

  header .caption {
    display: none;
  }

  main {
    margin: 0;
    padding: 2em 2em 2em 3.5em;
  }
}

@media (max-width: 550px) {
  header nav a {
    display: block;
    text-align: center;
  }

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.25em;
  }

  section.content {
    width: 97%;
  }

  section.notes {
    width: 97%;
    padding: 0;
  }

  body.home article .caption {
    width: 100%;
  }
}

/* small height on large screens */
@media (max-height: 570px) and (min-width: 975px) {
  header svg {
    margin: 0;
  }

  header h2 {
    margin: 0;
  }
}

/* smaller height on large screens */
@media (max-height: 393px) and (min-width: 975px) {
  header svg {
    width: 115%;
  }

  header .caption {
    display: none;
  }

  header h2 {
    display: none;
  }
}
