{{ partial "header.html" . }}

{{ if eq .Data.Singular "tag" }}
<h1>#{{ .Title }}</h1>
{{ else }}
<h1>{{ .Title }}</h1>
{{ end }}

{{ range .Data.Pages }}
  <article>
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <section class="metadata pure-u-1">
      <p>
        {{ .Date.Format "Jan 2 2006" }}
        |
        {{ range .Params.tags }}
          <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . | lower }}</a>
        {{ end }}
      </p>
    </section>
  </article>
{{ end }}

{{ partial "footer.html" . }}
