{{ partial "header.html" . }}

  <h1>{{ .Title }}</h1>

  {{ with .Params.subtitle }}
    <h2>{{ . }}</h2>
  {{ end }}

  <article class="pure-g">
    <section class="content pure-u-2-3">
      {{ .Content }}
    </section>

    <section class="notes pure-u-1-3">
      {{ range $key, $note := .Params.notes }}
        <article id="fn:{{ $key }}">
          <p><span>{{ $key }}</span>: {{ $note }}</p>
        </article>
      {{ end }}
    </section>

    <section class="metadata pure-u-1">
      <p>
        <a href="{{ .Permalink }}">&#x221e;</a>
        |
        {{ .Date.Format "Jan 2 2006" }}
        |
        {{ range .Params.tags }}
          <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . | lower }}</a>
        {{ end }}
        |
        {{ .ReadingTime }} minutes
      </p>
    </section>

  </article>

{{ partial "footer.html" . }}
