<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Roving Thoughts, from Zach LeBar</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300i,800i|Alegreya:400,700,400i" rel="stylesheet">
  <link rel="stylesheet" href="/css/pure-min.css">
  <link rel="stylesheet" href="/css/base-min.css">
  <link rel="stylesheet" href="/css/master.css">

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//stats.rovingthoughts.com/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//stats.rovingthoughts.com/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->
</head>
{{ if .IsHome }}
<body class="home">
{{ else }}
<body>
{{ end }}
<header>
  <nav>
  {{ range .Site.Menus.main }}
    <a href="{{.URL}}">{{ .Name }}</a>
  {{ end }}
    <a href="https://rovingthoughts.com/index.xml">RSS</a>
  </nav>

  <a href="{{ .Site.BaseURL }}">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 302" enable-background="new 0 0 500 302" xml:space="preserve">
      <polygon fill="#2E2825" points="14.8,58.9 25.5,120.9 2,130.8 14.1,232 60.4,251.2 64,263.3 93.9,261.2 98.9,277.6 190.1,261.9
      	200,274 262.7,273.3 277.7,299 331.1,269 442.2,274.7 446.5,251.2 490.7,239.8 498.5,179.3 485.7,128.7 470.7,129.4 482.8,81
      	470,46.1 400.9,44.6 392.4,50.3 376.7,34.7 294.1,39 293.3,4.8 244.2,4 245.6,39.7 202.2,26.8 150.2,44.6 30.5,46.1 "/>
      <path fill="#C8C2B5" d="M33.9,85.4l-2.1-17.3l16.4-3.2l4.9,13.8l12.5-17.3l11.1-1.3l7.1,21.4l-14.3,4.8c-4.6,1.5-9.3,3.2-14.1,4.9
      	l4.5,45.6L42.3,140L33.9,85.4z"/>
      <path fill="#C8C2B5" d="M119.6,104.8c1.8,15.9,4,29.5,6.7,41l16.2-2.8c1.4-14.4,1.3-28.3-0.2-41.7c-0.6-5.4-1.5-10.2-2.5-14.3
      	c-3.5-1.6-15.3-1.3-35.4,1l-4.2,0.5c-1.2,0.1-2.4,0.3-3.8,0.6l1-23.3c0.9-0.2,1.8-0.4,2.6-0.5c0.8-0.2,1.6-0.3,2.4-0.4l2.5-0.5
      	c0.8-0.1,3.1-0.4,6.9-0.8c10.9-1.2,23.1-0.8,36.4,1.2c4.3,0.8,7.1,2.7,8.3,5.8c2,4.7,3.6,12.6,4.8,23.5c2.3,20.1,1.9,39.8-1.1,59.1
      	c-0.2,1.8-0.6,3.3-1,4.5c-0.4,1.2-1.4,2.1-2.8,2.7c-1.4,0.5-3,1.1-4.9,1.6c-1.9,0.5-3.8,1.1-5.6,1.5c-4,0.9-6.8,1.5-8.3,1.6
      	c-1.5,0.2-3.2,0.3-5,0.5c-1.8,0.2-3.7,0.3-5.8,0.4c-5.5,0.3-9.3,0.1-11.3-0.5c-2-0.6-3.5-1.9-4.4-3.7c-0.9-1.9-1.9-5-3.1-9.2
      	c-2.7-10-4.8-21.4-6.2-34.4c-0.6-4.9-1-9.8-1.3-14.7l18.2-6.6L119.6,104.8z"/>
      <path fill="#C8C2B5" d="M193.6,172.3l-13.4-58.1l-13.6-56.9l22.5-8.3l13.2,73.5l2.6,26.2l4.5-0.6l4.2-30.9
      	c1.1-8.1,2.1-16.2,2.9-24.4l4.3-43l22,2.9c-3.6,28.7-8.4,57.8-14.7,87.4l-6.8,30.3c-6.5,1.4-11.9,2.2-16.4,2.3
      	C200.6,172.9,196.8,172.8,193.6,172.3z"/>
      <path fill="#C8C2B5" d="M278.6,58.8c0.4,5.9,0.7,10.8,0.8,14.8c0.1,4,0.1,8.7,0.1,14.1l0,81.3l-18.3,2l-4.3-108.9L278.6,58.8z
      	 M278.3,15.6c0.7,2.2,1.1,4.7,1.1,7.5c0.1,2.8,0,5.1-0.1,7c-0.1,1.9-0.3,3.7-0.5,5.4c-0.5,3.6-1.1,6.1-1.8,7.4l-19.8-0.4
      	c0.9-5.1,1.1-13.1,0.9-24.2L278.3,15.6z"/>
      <path fill="#C8C2B5" d="M297.6,59.4l18.2-2.8l3.3,13l14.8-13.4l36.8-0.9c1.1,0,2.6,0.8,4.6,2.4c3.3,2.6,5,5,5.1,7.1l2.3,103.4
      	l-19.1,2l-5.4-94.7l-25,0.9l-13.4,10.2l0.1,70.8l-18.3,1.8L297.6,59.4z"/>
      <path fill="#C8C2B5" d="M414,102.3c7.3,1.2,23.8-1.6,28-1.4l1.5-14.7l19.3,0c-1.3,9-2,10.3-3,16.6c-0.9,6.4-1.7,11.7-2.4,16.1
      	c-0.6,4.3-1.1,7.8-1.5,10.4l-0.8,6c-0.2,1.3-0.4,2.2-0.5,2.7l-0.1,0.8c-0.4,2.4-2.9,4.5-7.6,6.3c-14.1,5.4-28.4,9.9-42.7,13.5
      	l-7.5-17c19.3-4,32.5-6.9,40.2-9.1l1.5-13.3l-32.5,1.2c-3.9-0.7-6.3-2.2-7.2-4.7l-0.8-2.3c-3.3-11.1-4-18.1-1.3-33.9
      	c1.6-9.1,3.3-14.7,5.3-16.8c0.8-0.8,2.7-1.4,5.9-1.6c3.1-0.3,7.1-0.4,11.8-0.6c4.7-0.1,15.2-0.2,20-0.2c4.8,0,9.7,0.1,14.5,0.2
      	l4.7,0.1l1.3,16.8l-17.4-0.9c-9.8-0.3-24.2-0.7-26.6-0.4c-0.9,1.8-1.6,4.3-2.2,7.6C411.9,95.5,412.2,94.6,414,102.3z"/>
      <path fill="#7B756D" d="M16.7,140l16.2-4.3l1.5,21.1l22.4-4.5l2.3,15.2l-23.5,2.7l4.3,45c3.4,0.8,6.3,1.4,8.8,1.8
      	c6.2,1,9.9,1.7,11.3,1.9l-2.6,14.3c-10.1-1.5-19-3.4-26.7-5.8c-3.1-0.9-4.8-2.8-5-5.7L16.7,140z"/>
      <path fill="#7B756D" d="M106.4,211.1c0-6.4-0.3-11.1-0.9-14.1l-4.7,0c-2.7,0-4.8,0.3-6.3,0.8c-2.4,0.8-4.3,1.6-5.7,2.3l-0.7,47.7
      	l-14.6,0.9c-0.2-17.3-0.6-30.4-1-39.3c-0.6-11.9-0.9-22.2-1-30.9c0-5.8-2.5-60.1-2.3-71.5l16.1-3.5l3.5,88.3l10.7-9.6l15-0.1
      	c1.7,0,3.2,0.6,4.6,1.9c2.5,2.3,3.8,4.3,3.9,6.1c0.1,1.8,0.2,3.5,0.2,5.3l0,5.3c0,6,0,10.3-0.2,13l-1.8,47.2l-15,2.6L106.4,211.1z"
      	/>
      <path fill="#7B756D" d="M152.7,207.3c0.3,10.8,1,20.2,2.4,28.2l13.3-1c2.2-9.7,3.2-19.1,3-28.3c-0.1-3.7-0.4-7-1-9.8
      	c-2.7-1.3-12.3-1.7-28.7-1.3l-3.4,0.1c-0.9,0-2,0.1-3.1,0.2l2.5-15.7c0.8-0.1,1.5-0.1,2.1-0.2c0.7-0.1,1.3-0.1,2-0.1l2-0.2
      	c0.7,0,2.6-0.1,5.7-0.1c8.9-0.2,18.7,0.7,29.4,2.9c3.4,0.8,5.5,2.2,6.3,4.4c1.2,3.3,2,8.7,2.1,16.2c0.3,13.7-1.4,27-5.3,40
      	c-0.3,1.2-0.7,2.2-1.2,3c-0.5,0.8-1.3,1.4-2.4,1.6c-1.2,0.3-2.5,0.5-4.1,0.8c-1.6,0.3-3.1,0.5-4.6,0.7c-3.3,0.4-5.6,0.6-6.9,0.6
      	c-1.3,0-2.6,0.1-4,0.1c-1.4,0-3,0-4.7-0.1c-4.5-0.1-7.5-0.4-9.1-1c-1.6-0.5-2.7-1.5-3.3-2.8c-0.6-1.3-1.2-3.5-1.8-6.4
      	c-1.4-6.9-2.2-14.8-2.5-23.6c-0.1-3.4-0.1-6.7,0-10.1l15.2-3.4L152.7,207.3z"/>
      <path fill="#7B756D" d="M211.7,259.5c-1.2-0.1-2.6-1-4-2.5c-2.4-2.4-3.7-4.7-3.8-6.9l-2.8-61.1l15.7-2.1l3,57.9c1.5,0.7,3.2,1.1,5,1
      	c2.6-0.1,6.7-3,12.3-5.8l-0.8-101l15.6-0.4l1.8,119.9l-11.2,1.6l-3.2-10.7l-13.9,10.3L211.7,259.5z"/>
      <path fill="#7B756D" d="M290.1,232.6c5.9-0.1,10.6-0.5,13.9-1l-1-28.7l15-3.1c0.4,8.7,0.7,16.1,1,22.2c0.3,6.1,0.5,11.3,0.7,15.5
      	c0.2,4.2,0.3,7.5,0.4,10l0.3,5.7c0,1.3,0.1,2.2,0.1,2.6l0,0.8c0.1,2.3-1.6,4.7-5,7.2c-10.3,7.6-20.7,14.4-31.4,20.3l-8.6-14.6
      	c14.5-7.2,24.7-12.6,30.3-16l-1.4-15.4l-9.4,8.7l-11.2,0.3c-3.2,0.1-5.3-1-6.4-3.1l-1-2c-4.3-9.8-6.7-22.3-7-37.6
      	c-0.2-8.8,0.3-14.3,1.6-16.6c0.5-0.9,1.9-1.8,4.4-2.6c2.4-0.8,5.5-1.7,9.2-2.6c3.7-1,7.4-1.9,11.2-2.7c3.8-0.9,7.6-1.7,11.4-2.4
      	l11.1-2.3l3.7,15.4l-21.2,3.8c-7.8,1.4-12.6,2.5-14.5,3.2c-0.4,1.8-0.6,4.3-0.5,7.5C286,216.5,287.5,225.7,290.1,232.6z"/>
      <path fill="#7B756D" d="M369,217.5c-0.2-6.4-0.5-11.1-1.1-14.1l-4.7,0.1c-2.7,0.1-4.8,0.4-6.3,1c-2.4,0.9-4.3,1.7-5.7,2.4l0.1,47.7
      	l-14.6,1.2c-0.5-17.3-1.1-30.4-1.7-39.2c-0.8-11.9-1.3-22.2-1.5-30.9c-0.1-5.8-1.7-77.2-1.8-88.7l16-3.8l3.2,105.4l10.5-9.8l15-0.4
      	c1.7,0,3.2,0.6,4.6,1.8c2.5,2.2,3.9,4.2,4,6c0.1,1.8,0.2,3.5,0.3,5.3l0.1,5.3c0.1,6,0.2,10.3,0,13l-1.2,37.2l-14.9,2.9L369,217.5z"
      	/>
      <path fill="#7B756D" d="M395.4,173.4l16.4-3.6l0.5,28.5l31.9-2.8l1.6,15.3l-32.9,1l-0.4,29.2c3.4,1,6.3,1.7,8.7,2.2
      	c6.1,1.3,9.8,2.1,11.2,2.4l-3.2,14.2c-10-2-18.8-4.3-26.4-7c-3.1-1-4.7-3-4.7-6L395.4,173.4z"/>
      <path fill="#7B756D" d="M432.8,222.1l20-2.1c4.4-0.6,8.9-1.4,13.3-2.3l1.2-24.5l-24.3-7.6c-1.4-0.4-2.6-1.4-3.4-2.9
      	c-0.8-1.5-1.3-2.7-1.3-3.6c-0.1-0.9-0.1-1.5-0.1-1.7c0-0.2,0-0.8,0-1.8l0.6-12.8c0.2-3.6,1.8-6.2,4.9-7.9c1.9-1,4.3-2,7.3-3
      	c6-1.9,10.3-3.2,12.7-3.8l6.4-1.9c1.9-0.5,3.5-0.9,5-1.3l4.2,15.2l-26,5.8l-0.6,6.5l25.7,9.8c3.1,1.2,4.6,3.7,4.4,7.7l-2,32.3
      	c-0.2,3.5-2.8,6-7.9,7.5c-5.5,1.9-11.5,3.5-18.2,4.7c-6.7,1.2-16.8,2.1-19,2.4L432.8,222.1z"/>
    </svg>
  </a>

  <h3>
    from<br/>
    <a href="http://zachlebar.com">Zach LeBar</a>
  </h3>

  <p class="caption">
    Personal ramblings on a wide array of topics.
    <a href="https://overcast.fm/+BmEPOwtek/12:39" target="_blank">"But, you know,<br/> I could be wrong."</a>
  </p>
</header>

<main>
