{{ partial "header.html" . }}

{{ range .Site.Menus.main }}
  {{ range first 1 ( where $.Data.Pages "Section" ( .Name | lower ) ) }}
  <article>
    <p class="caption"><span>Latest in </span>{{ .Section }}</p>
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <section class="metadata pure-u-1">
      <p>
        {{ .Date.Format "Jan 2 2006" }}
        |
        {{ range .Params.tags }}
          <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . | lower }}</a>
        {{ end }}
      </p>
    </section>
  </article>
  {{ end }}
{{ end }}

{{ partial "footer.html" . }}
