{{ partial "header.html" . }}

<h2><a href="{{ .Params.link }}" target="_blank">{{ .Title }} &Rarr;</a></h2>

<article class="link pure-g">
  <section class="content pure-u-3-4">
    {{ with .Params.quote }}
    <blockquote>
      <p>{{ . }}</p>
    </blockquote>
    {{ end }}

    {{ .Content }}
  </section>

  <section class="metadata pure-u-1">
    <p>
      <a href="{{ .Permalink }}">&#x221e;</a>
      |
      {{ .Date.Format "Jan 2 2006" }}
      |
      {{ range .Params.tags }}
        <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . | lower }}</a>
      {{ end }}
    </p>
  </section>

</article>
